* {
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "museo-sans", sans-serif;
}

.navbar {
  background-color: #318abd;
  height: 100px;
}

.navbar a {
  color: #fff;
}

.jumbotron {
  text-align: center;
  color: white;
  background-image: url('http://www.makerbased.com/oml/images/hero_image.jpg');
  padding: 80px;
}

.jumbotron h1 {
  font-family: "museo-sans-rounded", sans-serif;
  margin-top: 0px;
  margin-bottom: 40px;
}

.jumbotron p {
  margin-bottom: 30px;
  font-size: 24px;
  padding: 0 40px;
}

.btn-lg {
  font-size: 30px;
}

.homepage {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.homepage h2, .homepage h3 {
  font-family: 'Arvo', sans-serif;
  color: #e74c3c;
  text-transform: uppercase;
}

.homepage h2 {
  font-size: 36px;
}

.homepage h3 {
  font-size: 24px;
}

.homepage p {
  font-size: 21px;
  font-weight: 300;
}

.homepage a {
  color: #e74c3c;
}

hr {
  border-color: #e74c3c;
  width: 150px;
  margin-top: 10px;
}

.homepage a:hover {
  text-decoration: none;
  opacity: 0.7;
  color: #e74c3c;
}

#get-involved {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  background-color: #e74c3c;
  color: #fff;
  height: 60px;
  padding-top: 18px;
  position: relative;
}

#back-to-top {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

#back-to-top a {
  color: #333;
  opacity: 0.5;
}

#back-to-top a:hover {
  opacity: 0.8;
}

.modal-content iframe {
  margin-top: 20px;
  margin-bottom: 20px;
}

button .close {
  position: absolute;
  top: 5px;
  right: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 767px ) {
  
 .jumbotron {
   padding: 30px 10px;
 }
  
  .btn-lg {
    font-size: 18px;
  }
  
}